/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/*CSS variables*/
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  --primary-color: #3a2620; /*dark brown*/
  --secondary-color: #aa9581; /*beige*/
  --highlight: #416a8e; /*lapis blue*/
  --light-highlight: #7a9fc2; /*kingfisher blue*/
}

/*fonts*/
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}


.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

h1,
h2 {
     text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*Navbar customisation*/
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header */

#header .lead {
    font-family: var(--secondary-font)
}

/* Services section */

#services .card-footer {
    font-weight: bold;
    color: var(--highlight);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem ;
}

/*Grid visualisation for CSS testing*/
/*.container,
.row {
    border: 2px solid black;
}
.col-12 {
    border: 2px solid white;
    background-color: lightgrey;
}*/

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}