/*fonts*/
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}


.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
}
h1 {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}